<div class="landing-page">
  <h1>Myplnr. Make your priorities</h1>
  <h2>Shareable todo lists that actually get done</h2>

  <a href="#" rel="nofollow" class="button primary" href="#" ng-click="createList()">Create List</a>
</div>

