<div id="container">
  <div id="topbar">
    <a href="/" class="logo left">Myplnr</a>
    <a href="#" data-reveal-id="faq-modal" class="right">daFAQ?</a>
  </div>

  <ng-form name="parentForm">
    <ul ng-repeat="quadrant in quadrants" class="sortable quadrant q{{quadrant}}" ui-multi-sortable ng-model="tasks" ng-model-subset="{quadrant: quadrant}">
      <li ng-repeat="task in tasks | filter: {quadrant: quadrant} | orderBy: 'index'" class="task" ng-class="{editing: task == editedTask, completed: task.completed}">
        <div class="content task-content cf">
          <input type="checkbox" ng-model="task.completed" ng-change="toggleComplete(task)">
          <span class="content" ng-click="editTask(task)">{{task.content}}</span>
        </div>

        <div class="content edit-content cf">
          <form ng-submit="doneEditing(task)" name="editTaskForm" novalidate>
            <input type="checkbox" ng-model="task.completed">
            <input type="text" ng-model="task.content" task-escape="cancelEditing(task)" autofocus required>

            <div class="actions">
              <button ng-disabled="editTaskForm.$invalid"> Save </button>
              <a href="" class="cancel" ng-click="cancelEditing(task)">Cancel</a>
              <a href="" class="delete" ng-click="deleteTask(task)">Delete</a>
            </div>
          </form>
        </div>
      </li>

      <li class="add-task-form">
        <div class="content cf">
          <form name="newTaskForm" id="todo-form" ng-submit="saveTask()" ng-show="newTask.quadrant == quadrant && isEditing == false" novalidate>
            <input type="checkbox" ng-model="newTask.completed">
            <input type="text" ng-model="newTask.content" ng-model="newTask.content" placeholder="What needs to be done?" task-focus="newTask.quadrant == quadrant" required>

            <div class="actions">
              <button ng-disabled="newTaskForm.$invalid"> Save </button>
            </div>
          </form>
        </div>
      </li>

      <li class="add-task" ng-show="newTask.quadrant != quadrant || isEditing == true">
        <a href="" class="select-quadrant" ng-click="selectQuadrant(quadrant)">add task</a>
      </li>
    </ul>
  </ng-form>
</div>

<div id="faq-modal" class="reveal-modal">
  <h2>Myplnr is just this</h2>
  <img src="<%= image_path('myplnr-faq.png') %>">
  <p class="lead">That's it. Now back to work and create awesome todo list!</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
