//
//= require_tree ./angular
//

myplnr.config(['$routeProvider', function($routeProvider){
  $routeProvider
    .when('/', {
      controller: 'homeController',
      //template: JST['angular/templates/index']
      templateUrl: '<%= asset_path("angular/templates/index.html") %>'
    })
    .when('/:listKey', {
      controller: 'tasksController',
      //template: JST['angular/templates/list']
      templateUrl: '<%= asset_path("angular/templates/list.html") %>'
    })
    .otherwise({ redirectTo: '/' })
}]);
