/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation.min
 *= require_tree .
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

#topbar {
  background: #f5f5f5;
  height: 25px;
  padding: 0px 45px;
  border-bottom: 1px solid #d2d5db;
}

#topbar a {
  line-height: 25px;
  color: #39464e;
  text-decoration: none;
  font-size: 14px;
}

#faq-modal {
  text-align: center;
  width: 50%;
  left: 65%;
}

html, body, #container {
  margin: 0px;
  padding: 0px;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

html, body, input {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 15px;
}

h1 {
  font-size: 45px;
  margin-bottom: 15px;
  margin-top: 15px;
}

h2 {
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 15px;
}

input {
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

input:focus {
  outline: none;
}

a {
  color: #1c5c76;
}

.button {
  background: #137795;
  color: #fff;
  display: block;
  width: 200px;
  margin: auto;
  text-decoration: none;
  font-size: 24px;
  padding: 10px 15px;
  text-align: center;
}

.landing-page {
  text-align: center;
  margin: auto;
  height: 300px;  
  position: absolute;
  width: 100%;
  top: 20%;
}

.landing-page h1{
  color: #333;
}

.landing-page h2 {
  color: #939393;
}

.landing-page .button {
  margin-top: 45px;
}

.quadrants-wrapper {
  height: 100%;
  min-height: 100%;
}

.quadrant {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  overflow: auto;
  padding: 0px;
  margin: 0px;
  width: 50%;
  height: 50%;
  min-height: 50%;
  list-style: none;
  padding: 15px;
}

.q1 {
  border-right: 1px solid #d14836;
  border-bottom: 1px solid #4285f4;
}

.q2 {
  border-left: 1px solid #d14836;
  border-bottom: 1px solid #d14836;
}

.q3 {
  border-right: 1px solid #4285f4;
  border-top: 1px solid #4285f4;
}

.q4 {
  border-top: 1px solid #d14836;
  border-left: 1px solid #4285f4;
}


.quadrant li {
  padding: 2px 2px 2px 28px;
  position: relative;
  font-size: 16px;
}

.quadrant li input[type="checkbox"] {
  display: block;
  position: absolute;
  left: 0px;
  top: 5px;
  font-size: larger;
}

.quadrant li input[type="text"] {
  display: block;
  font-size: 16px;
  width: 100%;
  border: 0px;
  border-bottom: 1px dotted #ccc;
}

.task {
  margin-bottom: 5px;
  cursor: pointer;
}

.task .edit-content {
  display: none;
}

.task.editing .edit-content {
  display: block;
}

.task.editing .task-content {
  display: none;
}

.task.completed span {
  text-decoration: line-through;
}

.actions {
  margin-top: 5px;
}

.actions a {
  font-size: 12px;
}

.actions .cancel {
  margin-left: 10px;
}

.actions .delete {
  margin-left: 15px;
  color: #d14836;
}
