<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="AHs1CdnfzjASFpgDO84cc28L6CAeAfzlDQVV_SqSPMQ" />

    <title>Myplnr. Make your priorities</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32367536-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body ng-app="myplnr"">
    <%= yield %>
  </body>
</html>
